# Keep it sorted

/cpu-z
/filezilla/config/*
!/filezilla/config/filezilla.xml
/go-shell/config/go-shell-remember-last.txt
/hwinfo
/IntelliJ-IDEA-Ultimate-portable/
/keepass/Plugins/KeeAgent.plgx
/maven/repository/
/msys2/
/nodejs/
/notepadplusplus/
/ruby/
/yarn/
