# Keep it sorted

/arduino/
/cpu-z/
/filezilla/config/*
!/filezilla/config/filezilla.xml
/firefox/
/firefox-esr/
/ghidra/
/go-shell/config/go-shell-remember-last.txt
/googlechrome/
/gpg/
/hwinfo/
/IntelliJ-IDEA-Ultimate-portable/
/irfanview/
/keepass/Plugins/KeeAgent.plgx
/libreoffice/
/maven/repository/
/msys2/
/nginx/
/nodejs/
/notepadplusplus/
/oh-my-posh3/themes/*
!/oh-my-posh3/themes/default.omp.json
/paint.net/
/python/
/recuva/
/ruby/
/rufus/
/rustup/
/screentogif/
/stunnel/
/telegram/
/ventoy/log.txt
/vlc/
/WebStorm-portable/
/windows-terminal/profiles/babel-node-cli/*
!/windows-terminal/profiles/babel-node-cli/package.json
/wireshark/
/yarn/
